body {
  background-image: url(source/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background:linear-gradient(skyblue,navy,rgb(58, 122, 122));
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 5px 41px 100px 1px black;
  width: 40%;
  overflow: hidden;
  text-align: center;
  height: 45%;
      max-width: 350px;
}
input{
    border-radius: 10px;
    height: 20%;
    flex-wrap: 80%;

}

.header h2 {
  color:rgba(255, 255, 255, 0.962);
  font-size: 2rem;
  margin-bottom: 20px;
}
a{
    color: rgb(142, 165, 160);
}